@font-face {
    font-family: 'freestyle-font';
    src: url('fonts/freestyle-regular.woff2') format('woff2');
  }
body {
    background-color: #D3ACCD;
    color: #236326;
    text-align: center;
    text-shadow: 2px 2px white;
}
h1 {
  font-family: 'freestyle-font', fantasy;
  letter-spacing: 2px;
}
h2 {
    color:black
}
.image-set{
  display:grid;
  background-image: url(sketchbackground.png);
  background-position: center;
  background-size: 300px;
  background-repeat: repeat-y;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
  "image text"
}
.text{
  grid-area:"text";
  text-align: justify;
}
.image{
  grid-area:"image"
}
img {
  width: 80%;
  height: auto;
}